.DS_Store
.vscode
assets
!assets/icon.png
node_modules
out
src
.gitignore
.prettierrc
.vscodeignore
CHANGELOG.md
# We need package to recheck defaults
# package.json
README.md
*.vsix
tsconfig.json
webpack.config.js
yarn.lock
